.btn-wrapper{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: whitesmoke;
    color: #4169e1;
    flex: 1;
    margin: 4px;
    border-radius: 20px;

}

.btn-wrapper:hover{
    cursor: pointer;
}