body{
  background-color: slateblue;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-wrapper{
    background-color: #fff;
    width: 400px;
    border-radius: 20px;
}

.row{
  display: flex;
}