.profile-container{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    
}
.profile-details{
    margin: 40px 0 20px 0px;
    padding: 10px 0 10px 0;
    color: aliceblue;
}
.profile-title{
    display: flex;
    flex-direction: column;
    margin: 14px 0 30px 0;
    
}
.profile-title h1{
    font-size: 30px;
    font-family: cursive;
}
.icons-social{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.icons-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    margin: 0 5px 5px 5px;
    cursor: pointer
}
.icons-tag:hover  {
    transform: scale(1.4);
    cursor: pointer;
    color: white !important;
  }
.twitter {
    background-color: #55acee
}

.fb {
    background-color: #3b5999
}
.git{
    background-color: #171515;
}

.insta {
    background-color: #dd4b39;
}

.myprofile-options{
    display:flex;
    justify-content: center;
}
.primary-texts{
    width: 500px;
    font-size: medium;
    font-weight: normal;
    font-family: "Poppins SemiBold"; 
}
.profile-picture{
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px white;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    padding: 0 0 0 5px;
    margin: 0 0 10px 200px;
}
.proile-pic-bg{
    width: 92%;
    height: 92%;
    background-image: url('../../PortfolioContainer/Files/Images/cover.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.proile-pic-bg:hover{
    transform: scale(1.08);
    transition: 1s ease-in-out;
}
@media screen and (max-width: 1110px) {
    .profile-picture{
        margin: 0 0 0 80px;
    }
    .primary-text{
        font-size: 24px;
    }
    .profile-title .primary-text{
        font-size: 18px;
    }
    .myprofile-options.btn{
        width:120px;
        padding: 11px 0;
        z-index: 700;
    }

    
}
@media screen and (max-width: 910px){
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width: 810px){
    .profile-picture{
        display: flex;
    }
    .primary-text h1, span{
        font-size: 18px;
        margin: 0 0 10px 0;
    }
    .profile-container{
        margin: 5px 0 0 0;
        justify-content: center;
    }
    .profile-title{
        margin: 25px 0 0;
    }
    .primary-text{
        font-size: 16px;
    }
    .myprofile-options .btn{
        margin: 0 !important;
    }
}
@media screen and (max-width: 710px){
    .profile-container{
        margin: 5px 0 0 0;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .profile-picture{
        margin-left: auto;
        margin-right: auto;

    }

}
@media screen and (max-width:414px) {
    .profile-picture{
        height: 275px;
        width: 275px;
    }
    .myprofile-options{
        display: flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        
    }
    .hire-me, .get-resume{
        width:110px;
    }
    .btn{
        margin: 0 10px 0 10px;
    }

}