.About-container{
    width: 100%;
    background-color: aliceblue;
    min-height: 10%;
  
}
.parent-container{
    margin-left: auto;
    margin-right: auto;
}
.hori-line{
    text-align: center;
    border: 9px solid rgb(119, 198, 235);
    width:10%;
    margin: auto;
    border-radius: 20px;
    opacity: 1;
}
.heading, .para {
    text-align: center;
    margin: 20px 0 10px 0 ;
    font-size: xx-large;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;; 
}
.para{
    font-size: large;   
}
.Main-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.img-container{
    width: 50%;
    opacity: 0.9;
}

.img-container img{
    width: 100%;
    height: auto;
   
}
.why-me{
    width: 50%;   
}

.why-me p{
    margin: 50px 15px 15px 25px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    text-align: center;
    color: #000;
    text-decoration: none;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.why-me h1{
    font-family: 'Roboto', sans-serif;;
    margin: 50px 15px 15px 25px;
    font-size: 25px;
}
.why-me ul{

    text-decoration: none;
    list-style-type: square;
    
}
.why-me li{
    font-family: 'Roboto', sans-serif;;
    line-height: 1.6;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0 5px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    text-align: center;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 1366px){
    .why-me p{
        font-family: 'Roboto', sans-serif;
        margin: 20px 15px 15px 25px;
        line-height: 1.6;
        font-size: 18px; 
    }
    .why-me li{
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
        font-size: 18px;
    }
    .why-me h1{
        font-family: 'Roboto', sans-serif;
        margin: 20px 15px 15px 25px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1112px){
    .Main-container{
        width: 60%;
        justify-content: center;
        flex-direction: column;
    }
    .img-container, .why-me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .why-me p{
        font-family: 'Roboto', sans-serif;
        margin: 20px 15px 15px 25px;
        line-height: 1.6;
        font-size: 25px;  
                
    }
    .why-me h1{
        font-family: 'Roboto', sans-serif;
        margin: 50px 15px 15px 25px;
        font-size: 25px;
             
    }
    .why-me li{
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
        font-size: 25px;
        margin-left: 20px; 
    }
    
    
}
@media screen and (max-width: 1024px) {
    .Main-container{
        width: 60%;
        justify-content: center;
        flex-direction: column;
    }
    .img-container, .why-me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .why-me p{
        font-family: 'Roboto', sans-serif;
        margin: 20px 15px 15px 25px;
        line-height: 1.6;
        font-size: 18px;  
                
    }
    .why-me h1{
        font-family: 'Roboto', sans-serif;
        margin: 50px 15px 15px 25px;
        font-size: 25px;
             
    }
    .why-me li{
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
        font-size: 18px;
        margin-left: 20px; 
    }
  
}
@media screen and (max-width:710px) {
    .Main-container{
        width: 90%;
        justify-content: center;
        flex-direction: column;
    }
    .img-container{
        width: 100%;
    }
    .why-me p{
        font-family: 'Roboto', sans-serif;
        margin: 20px 15px 15px 25px;
        line-height: 1.6;
        font-size: 18px;  
                
    }
    .why-me h1{
        font-family: 'Roboto', sans-serif;
        margin: 10px 15px 15px 25px;
        font-size: 25px;
             
    }
}
@media screen and (max-width:414px) {
   
    .Main-container{
        width: 95%;
        justify-content: center;
        flex-direction: column;
    }
    .img-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .why-me p{
        font-family: 'Roboto', sans-serif;
        margin: 20px 0px 15px 0px;
        line-height: 1.6;
        font-size: 16px;  
        text-decoration: none;
                
    }
    .why-me h1{
        font-family: 'Roboto', sans-serif;
        margin: 10px 15px 15px 25px;
        font-size: 25px;
             
    }
    .why-me li{
        font-family:'Roboto', sans-serif;
        line-height: 1.6;
        font-size: 16px;
    }
}
